
header{
    border: 0.1em dotted blue;
    border-radius: 0.2em;
}
.parrafo{
    background: black;
    color:#ffff;
    border: 2em solid red;
    border: 50px 48px 30px 20px;
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

/* La propiedad border-width con tamaño especifico*/
p.uno {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}

p.dos {
    border-style: solid;
    border-width: 20px 5px;
    /* 20px top and bottom, 5px on the sides */
}

p.tres {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    /* 25px top, 10px right, 4px bottom and 35px left */
}
.imagenes{
    width: 100%;
    display: flex;
    justify-content: center;
}
figure{
    padding: 4px;
    margin: 0;
}
img{
    width: 12em;
    height: 10em;
}
.image0{
    border: 0.8em double blue;
}
.image1{
    border: 0.8em groove blue;

}
.image2{
    border: 0.8em solid hotpink;
    /* border: (1px solid #ff0) (2px dashed #f0F) (3px dotted #F00) (5px solid #09f); */
}

.image3{
    border: 0.8em double gold;
}

.image4{
    border: 0.8em dashed firebrick;
}